<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>vaeThink</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css"  media="all">
</head>
<body class="vae-body">

<form class="layui-form vae-content">
  <div class="layui-form-item">
    <label class="layui-form-label">证书名称</label>
    <div class="layui-inline">
        <div id="xza" class="layui-input-inline" style="width: 200px;">
          <select lay-filter="demo" name="" id="typeId">
            {volist name="data" id="vo"}
              <option value="{$vo.id}">{$vo.value}</option>
            {/volist}
          </select>
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 200px;">
          <input type="text" placeholder="证书名称" id="zs_uname" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width: 100px;">
          <span onclick="add_xz()" class="dj layui-btn">新增</span>
        </div>
        <div class="layui-input-inline" style="width: 100px;">
          <span onclick="add_sc()" class="dj layui-btn layui-btn-danger">删除</span>
        </div>
      </div>
  </div>
  <div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="150">
      <col width="70">
      <col width="50">
      <col width="150">
      <col width="150">
      <col width="150">
      <col width="150">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center;">证书名称</th>
        <th style="text-align: center;">证书编号</th>
        <th style="text-align: center;">姓名</th>
        <th style="text-align: center;">性别</th>
        <th style="text-align: center;">身份证号码</th>
        <th style="text-align: center;">工作单位</th>
        <th style="text-align: center;">发布日期</th>
        <th style="text-align: center;">失效日期</th>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="key[]" lay-verify="required" autocomplete="off" style="width:150px;"></td>
        <td><input style="width:150px;" name="number[]" lay-verify="required" type="text"></td>
        <td><input style="width:70px;" type="text"></td>
        <td><input style="width:50px;" type="text"></td>
        <td><input style="width:150px;" type="text"></td>
        <td><input style="width:150px;" type="text"></td>
        <td><input style="width:50px;" type="text"></td>
        <td><input style="width:50px;" type="text"></td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block" style="max-width: 600px;">
      <input type="text" name="name[]" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">身份证号码</label>
    <div class="layui-input-block" style="max-width: 600px;">
      <input type="text" name="code[]" placeholder="" maxlength="18" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div id="append_add" class="layui-inline">
      <label class="layui-form-label">添加证书</label>
      <div class="layui-inline">
        <div class="layui-input-inline" style="width: 200px;">
          <input type="text" placeholder="证书名称" name="key[]" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid">-</div>
        <div class="layui-input-inline" style="width: 200px;">
          <input type="text" placeholder="证书编号" name="number[]" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width: 100px;">
          <!-- <span onclick="add_ap()" class="dj layui-btn">新增</span> -->
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div id="append_add" class="layui-inline">
        <label class="layui-form-label">有效时间</label>
        <div class="layui-inline">
          <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="u_time[]" placeholder="开始时间" class="layui-input test-item" id="date1">
          </div>
          <div class="layui-form-mid">-</div>
          <div class="layui-input-inline" style="width: 200px;">
            <input type="text" name="n_time[]" placeholder="结束时间" class="layui-input test-item" id="date2">
          </div>
        </div>
      </div>
    <div>
  </div>
  <input type="hidden" name="status[]" value="1">
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="vaeform">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      <a class="layui-btn layui-btn-warm" href="javascript:history.back(-1)">返回</a>
    </div>
  </div>
</form>
          
<script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
<script src="__STATIC__/myhome/js/jquery-1.11.1.min.js" charset="utf-8"></script>
<script>
//添加session
function add_xz(){
  var xz = $('#zs_uname').val();
  $.ajax({
    url:"/admin/Certificate/add_xz",
    type:'post',
    data:{'value':xz},
    success:function(e){
      console.log(e);
      if(e.code == 1){
        alert('添加成功！');
        window.location.reload();
      }else{
        alert('添加失败!');
      }
    }
  })
}

//删除session
function add_sc(){
  var sc = $("#typeId").val();
  $.ajax({
    url:"/admin/Certificate/add_sc",
    type:'post',
    data:{'id':sc},
    success:function(e){
      console.log(e);
      if(e.code == 1){
        alert('删除成功！');
        window.location.reload();
      }else{
        alert('删除失败!');
      }
    }
  })
}

//动态添加
function add_ap(){
  $("#append_add").append(
      '<div class="layui-inline">'+
        '<label class="layui-form-label">添加证书</label>'+
        '<div class="layui-input-inline" style="width: 200px;">'+
          '<input type="text" placeholder="证书名称" lay-verify="required" name="zs_name[]" autocomplete="off" class="layui-input">'+
        '</div>'+
        '<div class="layui-form-mid">-</div>'+
        '<div class="layui-input-inline" style="width: 200px;">'+
          '<input type="text" placeholder="证书编号" lay-verify="required" name="zs_number[]" autocomplete="off" class="layui-input">'+
        '</div>'+
        '<div class="layui-input-inline" style="width: 100px;">'+
          '<span onclick="del_ap(this)" class="layui-btn layui-btn-danger">删除</span>'+
        '</div>'+
      '</div>'
  );
}
//移除
function del_ap(e) {
  $(e).parent().parent().remove();
}


layui.config({
    base: '/themes/admin_themes/module/'
}).use(['upload','form','vaeyo','laydate'], function(){
  var form = layui.form
  var laydate = layui.laydate
  ,layer = layui.layer
  ,$ = layui.$
  ,upload = layui.upload
  ,vae = layui.vaeyo;
  
    //同时绑定多个
  lay('.test-item').each(function(){
    laydate.render({
      elem: this
      ,trigger: 'click'
    });
  });

  //select change事件
  form.on('select(demo)', function(data){
    $('input[name="key[]"]').val($("#typeId").find("option:selected").text());
    $("#typeId").change(function () {
      $('input[name="key[]"]').val($("#typeId").find("option:selected").text());
    });
  });

  //头像上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '/admin/api/upload'
    ,accept:'file'
    ,done: function(res){
      //如果上传失败
      if(res.code == 0){
        return layer.msg('上传失败');
      }
      //上传成功
      $('#demo1 input').attr('value',res.data);
      $('#demo1 img').attr('src',res.data);
    }
  });
  
  //监听提交
  form.on('submit(vaeform)', function(data){
    $.ajax({
      url:"/admin/Certificate/addSubmit",
      type:'post',
      data:data.field,
      success:function(e){
        console.log(e);
        if(e.code==1){
          layer.confirm('保存成功,返回列表页吗?', {icon: 3, title:'提示'}, function(index){
            vae.backThisTab();
            layer.close(index);
          });
        }else{
          layer.msg(e.msg);
        }
      }
    })
    return false;
  });
  
});
</script>
</body>
</html>