<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>证书查询-{$conf.title}</title>
		{include file="public/header" /}
		<style>
			.container {
				align-items: flex-start!important;
				-webkit-align-items: flex-start!important;
			}
			
			.explain {
				position: absolute;
				width: 423px;
				left: 50%;
				margin-left: -211.5px;
				top: 440px;
				font-size: 14px;
				color: #333333;
			}
		</style>
	</head>
	<link rel="stylesheet" type="text/css" href="__STATIC__/myhome/css/title.css" />
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/myhome/css/certificate.css" />

	<body>
		{include file="public/nav" /}
		<div class="container flex">
			<div class="left">
				<div class="left_title flex c_white"><i class="icon"></i>
					<p>证书查询</p>
				</div>
				<div class="list">
					<ul class="list_ul">
						<li class="list_li">
							<a href="{:url('port/Certificate/index')}">
								<div class="flex">
									<p><img class="li_img" src="__STATIC__/myhome/img/survey/Arrow.png" /></p>
									<p class="c_333">证书查询</p>
								</div>
							</a>
							<div class="drop_down">
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="right">
				<div class="right_title flex">
					<div class="flex right_l">
						<i class="icon"></i>
						<p class="c_white">证书查询</p>
					</div>
					<div class="right_title_r c_white flex">
						<p>当前位置：<span><span>证书查询</span></span>
						</p>
					</div>
				</div>
				<div class="r_conter">
					<div class="r_text">
						<div class="table_box">
							<div class="table_conter">
								<div class="table_title" style="display: none;">
									<p>证书查询</p>
								</div>
								<div class="table_bottom">
									<form id="form1" onkeydown="if(event.keyCode==13){return false;}">
										<div class="flex" style="padding: 0 10% 24px;justify-content: space-between;-webkit-justify-content: space-between;align-items: flex-end;-webkit-align-items: flex-start;">
										<div class="table_input">
											<div class="flex">
												<span style="position: relative; display: inline-block;width: 80px;"><ab style="letter-spacing: 33px;">姓名</ab><ab style="position: absolute;right: 0;">：</ab></span>
												<input type="text" id="name" name="name" value="" /> ‍
											</div>
											<div class="flex">
												<span class="text_t">身份证号：</span>
												<input type="text" name="code" value="" />
											</div>
											<div class="flex">
												<span class="text_t">证书编号：</span>
												<input type="text" name="number" value="" />
											</div>
											<div class="btn_box">
											<a style="cursor:pointer; display: block;width: 193px;margin-left: 80px;" href="javascript:;">
												<input class="table_btn" type="button" value="查询" onclick="sub()">
											</a>
										</div>
										</div>
										<div class="bg_w"></div>
										<div style="width: 46%;color: #333333;font-size: 14px;line-height: 27px;margin-top: 39px;font-family: MicrosoftYaHei">
											<h4>说明：</h4>
											<p>{$conf.zscx}</p>
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="tb" >
							<div class="flex table_tit">
								<p style="width: 16%;"><span>姓名</span></p>
								<p style="width: 24%;"><span>身份证</span></p>
								<p style="width: 28%;"><span>证书名称</span></p>
								<p style="width: 18%;"><span>证书编号</span></p>
								<p style="width: 14%;"><span>状态</span></p>
							</div>
							<div class="li_list">
								<!-- 数据展示 -->
								{if condition="$data neq ''"} {volist name="data" id="vo"}
								<div class="np">
									<p style="width: 16%;">{$vo.name}</p>
									<p style="width: 24%;">{$vo.code}</p>
									<p style="width: 28%;">{$vo.key}</p>
									<p style="width: 18%;">{$vo.number}</p>
									<p style="width: 14%;">
										<?php if(strtotime(date("y-m-d h:i:s")) > strtotime($vo['n_time'])){echo '<span style="color:red">过期</span>';}else{echo '<span style="color:green">有效</span>';} ?></p>
								</div>
								{/volist} {/if}
							</div>
						</div>

						<!--<div class="explain">
							说明：<span>这里是说明文字说明文字说明文字</span>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		{include file="public/footer" /}
		<script src="__STATIC__/myhome/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function gradeChange() {
				var myselect = document.getElementById('pid');
				var index = myselect.selectedIndex;
				var text_t = document.querySelector('.text_t');
				var text = myselect.options[index].text;
				text_t.innerText = text + '：'
			}

			function sub() {
				// var content = $("#name").val();
				// if(content == null || content == undefined || content == "") {
				// 	alert('姓名不能为空!');
				// 	return false;
				// }
				$.ajax({
					type: "POST", //方法类型
					dataType: "json", //预期服务器返回的数据类型
					url: "{:url('port/Certificate/index')}", //url
					data: $('#form1').serialize(),
					success: function(data) {
						$(".np").remove();
						if(data == false) {
							alert('暂无此人数据');
							return false;
						}
						var result = eval("(" + data + ")");
						var startime = <?php 
						function getMillisecond() {
							list($t1, $t2) = explode(' ', microtime());
							return (float)sprintf('%.0f',(floatval($t1)+floatval($t2))*1000);
						}
						echo getMillisecond();
		             ?>;
						for(var i = 0; i < result.length; i++) {
							var str = '<div class="np">' +
								'<p style="width:16%;">' + result[i]['name'] + '</p>' +
								'<p style="width:24%;">' + result[i]['code'] + '</p>' +
								'<p style="width:28%;">' + result[i]['key'] + '</p>' +
								'<p style="width:18%;">' + result[i]['number'] + '</p>';
							var zs = '<p style="width:14%;">'
							if(startime > Date.parse(result[i]['n_time'])) {
								zs += "<span style='color:red'>过期</span>";
							} else {
								zs += "<span style='color:green'>有效</span>";
							}
							var str = str + zs + '</p></div>';
							$(".li_list").append(str); //追加到你需要放在的位置
						}
					}
				});
			};
			
			//渐变线
			(function(){
				var table_bottom_H=document.querySelector('.table_bottom').offsetHeight;
				var bg_w=document.querySelector('.bg_w');
				bg_w.style.height=table_bottom_H+'px';
			})();
			
			//平衡左右高度
			(function(){
				var left_H=document.querySelector('.list').offsetHeight;
				var right_H=document.querySelector('.r_conter').offsetHeight;
				if(right_H>left_H){
					document.querySelector('.list').style.height=right_H+'px'
				}else{
					document.querySelector('.r_conter').style.height=left_H+'px'
				}
			})();
		</script>
	</body>

</html>