<div class="left">
	<div class="left_title flex c_white"><i class="icon"></i>
		<p>会员风采</p>
	</div>
	<div class="list">
		<ul class="list_ul">
			<li class="list_li">
				<a href="{:url('port/User/index')}">
					<div class="flex">
						<p><img class="li_img" src="__STATIC__/myhome/img/survey/Arrow.png" /></p>
						<p class="c_333">会员简介</p>
					</div>
				</a>
				<div class="drop_down">

				</div>
			</li>
			<li class="list_li">
				<a href="{:url('port/User/lst')}">
					<div class="flex">
						<p><img class="li_img" src="__STATIC__/myhome/img/survey/Arrow.png" /></p>
						<p class="c_333">会员动态</p>
					</div>
				</a>
				<div class="drop_down">

				</div>
			</li>
			<!-- <li class="list_li">
				<a href="{:url('port/User/upload')}">
					<div class="flex">
						<p><img class="li_img" src="__STATIC__/myhome/img/survey/Arrow.png" /></p>
						<p class="c_333">会员资料上传</p>
					</div>
				</a>
				<div class="drop_down">
				</div>
			</li> -->
		</ul>
	</div>
</div>