<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>联系我们-{$conf.title}</title>
		{include file="public/header" /}
		<style>
			.container{
				align-items: flex-start!important;
				-webkit-align-items: flex-start!important;
			}
		</style>
	</head>
	<link rel="stylesheet" type="text/css" href="__STATIC__/myhome/css/title.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/myhome/css/survey.css" />
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vQcSM7kfRpDSQrgdTqaWVpLTevyl5fRF"></script>
	<body>
		{include file="public/nav" /}
		<div class="container flex">
			<div class="left">
				<div class="left_title flex c_white"><i class="icon"></i>
					<p>联系我们</p>
				</div>
				<div class="list">
					<ul class="list_ul">
						<li class="list_li">
							<a href="{:url('port/Contact/survey')}">
								<div class="flex">
									<p><img class="li_img" src="__STATIC__/myhome/img/survey/Arrow.png" /></p>
									<p class="c_333">联系我们</p>
								</div>
							</a>
							<div class="drop_down">
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="right">
				<div class="right_title flex">
					<div class="flex right_l">
						<i class="icon"></i>
						<p class="c_white">联系我们</p>
					</div>
					<div class="right_title_r c_white flex">
						<p>当前位置：<span><span>联系我们</span></span></p>
					</div>
				</div>
				<div class="r_conter">
					<div class="r_text">
						<div class="text_title">
							<p>{$data.title}</p>
							<p></p>
						</div>
						<!--地图容器-->
						<div id="allmap"></div>
						<div class="map_text">
							{$data.content}
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="public/footer" /}
		<script type="text/javascript">
			// 百度地图API功能
			var map = new BMap.Map("allmap"); // 创建Map实例
			var point = new BMap.Point({$data.map});
			map.centerAndZoom(point, 15);
			map.setCurrentCity("广州"); // 设置地图显示的城市 此项是必须设置的
			map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
			var marker = new BMap.Marker(point); // 创建标注    
			map.addOverlay(marker); // 将标注添加到地图中

			//下拉列表
			(function() {
				var list_ul = document.querySelector('.list_ul');
				var li_img = document.getElementsByClassName('li_img');
				var drop_down = document.getElementsByClassName('drop_down');
				var index = 0;
				for(var i = 0; i < list_ul.children.length; i++) {
					list_ul.children[i].setAttribute('index', i);
					list_ul.children[i].children[0].children[0].onclick = function() {
						index = this.parentNode.parentNode.getAttribute('index');
						toggleClass(drop_down[index], 'drop_down_active');
					}
				}

				function hasClass(obj, cls) {
					var cls = cls || '';
					if(cls.replace(/\s/g, '').length == 0) {
						return false;
					} else {
						return new RegExp(' ' + cls + '').test(' ' + obj.className);
					}
				}

				function toggleClass(obj, cls) {
					hasClass(obj, cls) ? removeFn(obj, cls) : addFn(obj, cls);
					console.log(index)
				}

				function removeFn(obj, cls) {
					obj.classList.remove(cls);
					li_img[index].style.transform = "rotate(0deg)"
				}

				function addFn(obj, cls) {
					obj.classList.add(cls);
					li_img[index].style.transform = "rotate(90deg)"
				}
			})();
			
			//复制这个，都相同的
			(function(){
				var r_conter =document.querySelector('.r_conter');
				var list=document.querySelector('.list');
				var H=r_conter.offsetHeight;
				list.style.height=H+'px'
			})();			
		</script>
	</body>

</html>