<style>
	.title_text>p{
		color: #ffffff;
		font-size: 22px;
		text-align: right;
		font-weight: bold;
		letter-spacing: 3px;
	}
	.title_text {
		position: absolute;
		top: 36.83333333%;
		right: -4px;
	}
</style>
<div>
	<div class="title">
		<img src="__STATIC__/myhome/img/home/bg@2x.png" />
		<div class="title_conter">
			<div>
				<div class="logo">
					<a href="/"><img src="{$conf.logo}" /></a>
				</div>
				<!-- <div class="title_text">
					<img src="__STATIC__/myhome/img/home/title_text@2x.png" />
				</div> -->
				<div class="title_text">
					<p>{$conf.slogan}</p>
				</div>
				<p class="title_btn flex">
					<a href="javascript:;">设为首页</a>
					<a href="javascript:;" onclick="alert('加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.')">收藏本站</a>
				</p>
			</div>
		</div>
	</div>
	<div class="nav">
		<div>
			<ul class="nav_ul flex">
				<li>
					<a href="/">首页</a>
				</li>
				{volist name="nav_index" id="vo"}
					<li>
						<a href="{$vo.src}">{$vo.title}</a>
					</li>
				{/volist}
			</ul>
		</div>
	</div>
</div>